.registration__login-wrapper
   p У меня уже есть аккаунт
   a(href="sign-in.html").user__form-submit-save.btn.btn-primary Войти
   p или войти через социальные сети
   .registration__login-social-group
      a(href="#").registration__login-social-facebook
      a(href="#").registration__login-social-vk
      a(href="#").registration__login-social-gp


