.full-item__time-wrapper До окончания торгов
   span.full-item__time 5 д 20:34:15
.full-item__item-wrapper
   .full-item__item-gallery-wrapper
      #slider1_container(style="position: relative; top: 0px; left: 0px; width: 380px; height: 380px;")
         div(u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 380px; height: 380px;")
            div
               img(src="img/originals/1.jpg" u="image")
               img(src="img/originals/1.jpg" u="thumb")
            div
               img(src="img/originals/2.jpg" u="image")
               img(src="img/originals/2.jpg" u="thumb")
            div
               img(src="img/originals/3.jpg" u="image")
               img(src="img/originals/3.jpg" u="thumb")
            div
               img(src="img/originals/4.jpg" u="image")
               img(src="img/originals/4.jpg" u="thumb")
            div
               img(src="img/originals/5.jpg" u="image")
               img(src="img/originals/5.jpg" u="thumb")
            div
               img(src="img/originals/6.jpg" u="image")
               img(src="img/originals/6.jpg" u="thumb")
            div
               img(src="img/originals/7.jpg" u="image")
               img(src="img/originals/7.jpg" u="thumb")
            div
               img(src="img/originals/8.jpg" u="image")
               img(src="img/originals/8.jpg" u="thumb")
         .jssort07(u="thumbnavigator" style="position: absolute; width: 340px; height: 80px; left:30px; bottom: -90px; overflow: hidden; z-index:10000;")
            div(style=" background-color: transparent; filter:alpha(opacity=30); opacity:.3; width: 100%; height:100%;")
            div(u="slides" style="cursor: move; ")
               .p.thumb-item(u="prototype" style="POSITION: absolute; WIDTH: 85px; HEIGHT: 85px; TOP: 0; LEFT: 0; ")
                  .i(u="thumbnailtemplate" style="position:absolute;")
                     .o
   .full-item__item-info-wrapper
      .full-item__item-info-last-bet-wrapper
         .full-item__item-info-last-bet-label последняя ставка
            a(href="bet-history.html").full-item__item-info-history Смотреть историю ставок
      .full-item__item-info-last-bet-cost 500$
      .full-item__item-info-author-wrapper
         span.full-item__item-info-author-label Автор лота:
         a(href="author-lot.html").full-item__item-info-author-link Юрий Алексеев
      p.full-item__item-info-description-text
         | Картина «Якорь» написана на дне Байкала
         | на глубине 30м в районе порта Байкал
         | (Иркутская обл., западный берег оз. Байкал) 15 июля 2014 года.
      .full-item__form-wrapper
         form
            input(type="text").full-item__form-input
            label.full-item__form-label $
            input(type="submit" value="Сделать ставку").full-item__form-submit
            .full-item__form-minimal-bet 50 $ – минимальный шаг ставки.
            .full-item__form-alert
               |Вы должны быть авторизованы, чтобы сделать ставку:
               a(href="sign-in.html")  войти
               |или
               a(href="registration.html")  зарегистрироваться.
      .full-item__share-wrapper
         .full-item__share-title Поделиться
         //<!-- Go to www.addthis.com / dashboard to customize your tools-- >
         .addthis_sharing_toolbox
.full-item__description-wrapper
   h3.full-item__description-title Описание лота
   p Картина «Якорь» написана на дне Байкала на глубине 30 м в районе порта Байкал (Иркутская обл., западный берег оз. Байкал) 15 июля 2014 года.
   p Подлинность картины, выставленной на аукцион, подтверждается автографом автора.
   p Автор лота:
      a Юрий Алексеев
   p Размер 60 x 40 см.
   p Холст подготовленный, масло.
   .full-item__description-photo.lazy(data-original="img/item-photo.png")

