.row
    .col-xs-12
        h3.item-list__title Лучшие лоты
    .col-xs-10
        .item-list__wrapper
            include item
            include sale-item
            include sale-item
            include item
    .col-xs-2
        include ../sidebar/sidebar-ad


