.item__wrapper.sale
   a(href="#")
      .item__photo-wrapper
         .lazy.item__photo(data-original="img/item-photo.png")
   .item__info-wrapper
      a(href="#").item__info-title Подводная картина «Якорь»
      .item__info-last-bet-wrapper
         .item__info-last-bet-text продан по цене
         .item__info-last-bet-cost 500$
      .item__info-author-wrapper
         span.item__info-author-label Автор лота:
         a.item__info-author-link Юрий Алексеев
      .item__info-description-wrapper
         p.item__info-description-text
            | Картина «Якорь» написана на дне  Байкал
            | Байкала на глубине 30 м в районе порта
            | (Иркутская обл., западный берег…
         a.item__info-description-more Подробнее
      .item__info-time Торги окончены в 18:00:00 3 октября 2014 г.