.item-list{
  &__title{
    font-family: "Ubuntu";
    font-weight: 300;
    font-size: 32px;
    color: rgb(48, 48, 48);
    font-variant: small-caps;
    margin-bottom: 20px;
  }
  &__wrapper{
    margin-bottom: 70px;
  }
}