.row
   .col-xs-12
      h3.title-2 Согретые магией Байкала
   .col-xs-10
      p.text-4
         |  Далеко-далеко за словесными горами
         |  в стране гласных и согласных живут
         |  рыбные тексты. Вдали от всех живут
         |  они в буквенных домах на берегу
         |  большого языкового океана. Маленький
         |  ручеек журчит по всей стране и
         |  обеспечивает ее всеми необходимыми правилами.
      p.text-4
         |  Далеко-далеко за словесными горами
         |  в стране гласных и согласных живут
         |  рыбные тексты. Вдали от всех живут
         |  они в буквенных домах на берегу
         |  большого языкового океана. Маленький
         |  ручеек журчит по всей стране и
         |  обеспечивает ее всеми необходимыми правилами.
      p.text-4
         |  Далеко-далеко за словесными горами
         |  в стране гласных и согласных живут
         |  рыбные тексты. Вдали от всех живут
         |  они в буквенных домах на берегу
         |  большого языкового океана. Маленький
         |  ручеек журчит по всей стране и
         |  обеспечивает ее всеми необходимыми правилами.

   .col-xs-2
      include sidebar/sidebar-news