footer.footer
    .row
        .col-xs-2
            .footer__menu-wrapper
                h4.footer__menu-title Как купить
                ul.footer__menu-list
                    li.footer__menu-list-item
                        a(href="#").foter__menu-list-item-link Правила
                    li.footer__menu-list-item
                        a(href="#").foter__menu-list-item-link Доставка и оплата
                    li.footer__menu-list-item
                        a(href="#").foter__menu-list-item-link Помощь


        .col-xs-2
            .footer__menu-wrapper
                h4.footer__menu-title Лоты
                ul.footer__menu-list
                    li.footer__menu-list-item
                        a(href="#").foter__menu-list-item-link Активные
                    li.footer__menu-list-item
                        a(href="#").foter__menu-list-item-link Проданные
                    li.footer__menu-list-item
                        a(href="#").foter__menu-list-item-link Авторские

        .col-xs-2
            .footer__menu-wrapper
                h4.footer__menu-title О проекте
                ul.footer__menu-list
                    li.footer__menu-list-item
                        a(href="#").foter__menu-list-item-link Контакты
                    li.footer__menu-list-item
                        a(href="#").foter__menu-list-item-link Созданно Байкалом
                    li.footer__menu-list-item
                        a(href="#").foter__menu-list-item-link Новости



        .col-xs-offset-3.col-xs-3
            .footer__contacts-wrapper
                .footer__contacts-phone-wrapper
                    span.footer__contacts-phone-code 8 (800)
                        a.footer__contacts-phone-link 222 22 22
                .footer__contacts-mail-wrapper
                    a.footer__contacts-mail-link baikal@mail.ru

        .col-xs-12
            .row
                .col-xs-6
                    p.footer__white-text Copyright QuaintBaikalPearls. 2014
                .col-xs-6
                    .footer__developer-wrapper
                        a(href="http://bureauit.ru/").footer__developer-text Разработка сайта
                            span.footer__developer-logo


