<!DOCTYPE html>
html(lang="en")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block title
        title DEVELOPMENT TITLE

    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel="stylesheet", href="/css/style.css")

body
    .container
        .section.section-header
            include header

        block content

        .section.section-footer
            include footer

    script(src="/bower/jquery/dist/jquery.min.js")
    script(src="/bower/jquery.easing/js/jquery.easing.min.js")
    script(src="/bower/jssor-slider/js/jssor.js")
    script(src="/bower/jssor-slider/js/jssor.slider.mini.js")
    script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53fe943118de2c15" async="async")
    script(src="/bower/jquery.lazyload/jquery.lazyload.min.js")
    script(src="/js/validator.js")
    script(src="/bower/angular/angular.min.js")
    script(src="/js/app.js")
