.sidebar__another-wrapper
   .sidebar__title Реклама
   a(href="#")
      .sidebar__another-item.lazy(data-original="img/ad-1.png")
   a(href="#")
      .sidebar__another-item.lazy(data-original="img/ad-2.png")

