.sidebar__news-wrapper
   .sidebar__title Новости
   ul.sidebar__news-list
      li.sidebar__news-list-item
         a(href="#").sidebar__news-list-item-link
            | В Листвянке прошла выставка картин Юрия Алексеева
      li.sidebar__news-list-item
         a(href="#").sidebar__news-list-item-link
            | В Иркутске на берегу Ангары появилась новая скульптура – нерпа с нерпёнком

