.news__item-wrapper
   .news__item-photo-wrapper
      a(data-original="img/item-photo.png" href="news.html").news__item-photo.lazy
   .news__item-description-wrapper
      a(href="news.html").news__item-description-title В Листвянке (западный берег Байкала) прошла выставка картин Юрия Алексеева
      .news__item-description-date 21 sep 14
      p
         |Иркутский подводный художник Юрий Алексеев 21 сентября
         |в поселке Листвянка выставил на всеобщее обозрение
         |несколько своих полотен.
      a(href="news.html") Читать далее

.news__item-wrapper
   .news__item-photo-wrapper
      a.news__item-photo.lazy(data-original="img/item-photo.png")
   .news__item-description-wrapper
      a.news__item-description-title На о. Ольхон (оз Байкал) прошел симпозиум деревянной скульптуры
      .news__item-description-date 21 sep 14
      p
         |В мероприятии принимали участие пять участников
         |международного фестиваля деревянной скульптуры
         |«Лукоморье» и серебряный призёр нынешнего «Лукоморья»
         |Евгений Тимкович, призёр мирового чемпионата ледовой
         |скульптуры «Айс-Аляска» и создатель иркутской резиденции
         |Деда Мороза-2014 Евгений Горбунов, победитель
         |«Хрустальной нерпы-2012» и призёр ледовых чемпионатов в
         |Харбине и на Аляске Сергей Зиннер, резчик по дереву
         |с 26-летним стажем Антон Шишкин, учитель технологии
         |Михаил Сухотин, архитектор, скульптор и живописец Данила
      a Читать далее

.news__item-wrapper
   .news__item-photo-wrapper

   .news__item-description-wrapper
      a.news__item-description-title В Листвянке (западный берег Байкала) прошла выставка картин Юрия Алексеева
      .news__item-description-date 21 sep 14
      p
         |Иркутский подводный художник Юрий Алексеев 21 сентября
         |в поселке Листвянка выставил на всеобщее обозрение
         |несколько своих полотен.
      a Читать далее
