.news__page-wrapper
   .news__page-photo-wrapper
      .news__page-photo.lazy(data-original="img/photo.png")
      .news__page-photo-description Подпись к фото
   .news__page-description-wrapper
   p
      | Иркутский подводный художник Юрий Алексеев 21 сентября в
      | поселке Листвянка выставил на всеобщее обозрение несколько своих полотен.
   p
      | Как рассказал Телеинформу сам художник, картины он расставил
      | на парапете – рассмотреть их могли все желающие.
      | Кроме того, одну из работ он сделал на месте – погрузившись в Байкал
      | с аквалангом и зарисовав подводный мир озера. «Я рисую то, что я вижу,
      | чтобы передать это людям», – пояснил Юрий Алексеев.
   p
      | Кстати, художник отметил, что его выставка проходила
      | одновременно с подъемом якоря, потерянного старинным
      | судном более ста лет назад и находившимся на глубине
      | 29 метров. Напомним, якорь планировалось передать в дар
      | этнографическому музею «Тальцы». Что касается картины «Якорь»,
      | то она выставляется на аукцион проекта CrazyBaikal.

   h4 Заголовок видео
   iframe(width="640" height="390" src="//www.youtube.com/embed/PWQ9GYO_uZY" frameborder="0" allowfullscreen)

