extends templates/layout

block title
	title index DEVELOPMENT TITLE

block content

	.section.section-slider
		include templates/slider
	.section
		include templates/another-content
	.section
		include templates/item/item-list

