extends templates/layout

block title
    title registration DEVELOPMENT TITLE

block content
    .section
        ol.breadcrumb
            li
                a(href="index.html") Главная
            li.active
                a(href="#") Регистрация
        h1 Регистрация

        .row
            .col-xs-10
              .row
                 .col-xs-6
                     include templates/registration/form
                 .col-xs-6
                     include templates/registration/login
            .col-xs-2
                include templates/sidebar/sidebar-news
                include templates/sidebar/sidebar-ad